* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: top;
	font-family: inherit;
}
html {
	font: 400 15px/20px Lato;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	overflow-y: scroll;
}
html, body {
	margin: 0;
}
input, button, select, textarea { margin: 10px; }
input, button, select { height: 30px; }
input, select, textarea { padding: 5px; }
.Topbar {
	position: fixed;
	top: 0; left: 0; right: 0;
	padding-top: 70px;
	height: 110px;
	border-bottom: 1px solid #bbb;
	background-color: #fff;
}
.SearchBox {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	display: flex;
	justify-content: center;
	margin: 10px;
}
.SearchInput {
	width: 400px; height: 30px;
}
.Indicator {
	position: absolute;
	top: 0; bottom: 0;
	right: 0; height: 30px;
	margin: 10px;
}
.IndicatorLoading {
	display: inline-block;
	padding: 5px 0;
	margin: 10px;
}
.Search {
	padding-top: 110px;
	padding-bottom: 210px;
}
.Head { font-weight: bold; }
.Row, .Head {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.Row, .Head {
	border-top: 1px solid #bbb;
	margin-top: -1px;
}
.PersonRow:not(.Head) {
	min-height: 60px;
}
span.Cell { min-height: 40px; padding: 10px; cursor: text; }
button.Cell { flex-basis: max-content; flex-shrink: 0; padding: 0 3px; margin: 5px 3px; }
.Cell[sheet=people][column=name] { width: 170px; }
.Cell[sheet=people][column=phone] { width: 110px; }
.Cell[sheet=people][column=role] { width: 100px; }
.Cell[sheet=people][column=note] { flex-basis: 0; flex-grow: 1; }
.Cell[sheet=people][column=memberships] {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	align-self: stretch;
}
.Row[sheet=memberships] { height: 100%; width: 590px; }
.Row[sheet=memberships]:not([current]) { background-color: #f4cccc; }
.Cell[sheet=memberships][column=plan] { width: 140px; }
.Cell[sheet=memberships][column=start] { width: 105px; }
.Cell[sheet=memberships][column=end] { width: 105px; }
.Cell[sheet=memberships][column=renewal] { width: 75px; }
.Cell[sheet=memberships][column=problem] { flex-basis: 0; flex-grow: 1; }
.Cell[sheet=memberships][column=checks] { flex-basis: max-content; }
